
.flex-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header{
    position: sticky;
    background-color: rgb(248, 215, 175);
}